/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f2fc;
    color: #333;

    text-align: center;
}

/* Header styles */
header {
    color: white;

}

header img {
    width:100%;
    height:100%;
    object-fit: cover;
    padding:0px;

}

/* Main content */
main {
    margin:10px;
}

.buttons_strip {
    background: #ecaad4;
    width:100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;

}

.button {
    background: #f8d5eb;
    color: white;
    width: 30%;
    margin: 0;
    padding-top: 5px;
    cursor: pointer;
    margin-left:10px;
    margin-right:10px;
    border-radius: 15px;
}

.button:hover {
    background-color: #d5a2c2;
}

/* Footer styles */
footer {
    background: #ecaad4;
    color: white;
    padding: 10px;
    margin-top: 60px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
    display: flex;
    margin:2px;
    gap: 1%;
}

.box {
  width: 28%;
  height: 150px;
  border-radius: 18px;


}
.box img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}

.box:hover img {
    filter: brightness(0.7);
}

.box2 {
  width: 12%;
  height: 150px;
  border-radius: 15px;

}

.clickable {
  background-color: purple;
  display: block;
}

.unclickable {
  background-color: #d2b6f0;
}

.icons {
    width: 15%;
    height: 15%;
}


/* Responsive Design */
@media screen and (max-width: 780px) and (min-width: 500px) {

    .box {
      width: 48%;
      height: 150px;
      border-radius: 15px;
      display:flow;
      margin-bottom:8px;
    }

    .box2 {
      width: 60px;
      height: 150px;
      border-radius: 15px;
      display:none;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .button {
        background: #f8d5eb;
        color: white;
        width: 100%;
        height:50px;
        margin: 0;
        padding-top: 5px;
        cursor: pointer;
        border-radius: 15px;
        margin-bottom:5px;
    }
    .icons {
        width: 25PX;
        height: 25PX;
    }
    .row {
        display:flex; 
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width: 499px){

    .box {
      width: 100%;
      height: 150px;
      border-radius: 15px;
      display:flow;
      margin-bottom:8px;
    }

    .box2 {
      width: 60px;
      height: 150px;
      border-radius: 15px;
      display:none;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .button {
        background: #f8d5eb;
        color: white;
        width: 100%;
        height:50px;
        margin: 0;
        padding-top: 5px;
        cursor: pointer;
        border-radius: 15px;
        margin-top:5px;
    }
    .icons {
        width: 25PX;
        height: 25PX;
    }
    .row {
        display:flex; 
        flex-direction: column-reverse;
        gap: 0;
    }

}


